<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <style>
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }
      h2 {
      }
    </style>
    <% if(degree <= 0) { %>
    <h2>degree = <%=degree%> <span style="color: red">F</span></h2>
    <% } else if (degree <= 25) { %>
    <h2>degree = <%=degree%> <span style="color: orange">D</span></h2>
    <% } else if (degree <= 50) { %>
    <h2>degree = <%=degree%> <span style="color: yellow">C</span></h2>
    <% } else if (degree <= 75) { %>
    <h2>degree = <%=degree%> <span style="color: blue">B</span></h2>
    <% } else if(degree <= 100) { %>
    <h2>degree = <%=degree%> <span style="color: green">A</span></h2>
    <% } else { %>
    <h2>the</h2>
    <% }%>
    <!---------------------------------------->
  </body>
</html>
